.promo {
	min-height: 780px;
	background: url(../img/promo/bg/01.jpg) center (center / cover) no-repeat;
	padding: 182px 0 72px 0;
	&__header {
		font-family: 'Open Sans';
		font-size: 60px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: #ffffff;
		text-align: center;
	}
	&__subheader {
		font-family: 'Open Sans';
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 0.05em;
		color: #ffffff;
		text-align: center;
		margin-top: 26px;
	}
	&__services {
		margin-top: 108px;
		display: flex;
		justify-content: center;
		column-gap: 25px;
	}
	&__scroll {
		text-align: center;
		margin-top: 100px;
	}
}

@media (max-width: 992px) {
	.promo {
		&__header {
			font-size: 55px;
		}
		&__subheader {
			font-size: 20px;
		}
	}
}

@media (max-width: 768px) {
	.promo {
		&__header {
			font-size: 45px;
		}
		&__subheader {
			font-size: 18px;
		}
	}
}

@media (max-width: 576px) {
	.promo {
		min-height: 550px;
		padding: 100px 0 52px 0;
		&__header {
			font-size: 40px;
		}
		&__subheader {
			font-size: 18px;
		}
	}
}

@media (max-width: 480px) {
	.promo {
		&__header {
			font-size: 35px;
		}
		&__subheader {
			font-size: 16px;
		}
	}
}
